* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
}



@import url(./style.css);


@font-face {
  font-family: Axiforma;
  src: url(../Fonts/Axiforma-Regular.ttf);
}

 @media screen and (max-width: 990px) {
   body{ font-size: 16px;
  }
  .grid-container{
    grid-auto-flow: column;
   }
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color:#1A202C;
    width: 100%;
    height: 890px;
    padding: 20px 54px 0px 54px;
    position: relative;
    grid-auto-flow: column;
}


.grid-item{
    color: blueviolet;
    background-color: #212734;
    font-size: 36px;
    grid-template-columns: auto auto auto auto;
    position: absolute;
}

 
  
  .search-panel{
   position: fixed;
    grid-column: 1 ;
    grid-row: 1/ span 2;
    width:21.35%;
    height:678.36px;
    border-radius: 15px;
    background-color:#212734;
    padding: 15px 12px 0px 15px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    align-items: center;
  }

  
  .subscribe {
    grid-column:1;
    grid-row: 3;
    width:21.87%;
    height:18%;
    top: 80.1%;
    border-radius: 10px;
   
    
  }
  .points-panel {
    grid-column:2;
    grid-row:1;
    width:49.35%;
    height:348.94px;
    left: -2.2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    overflow: hidden;
  }
  .exchange-panel{
    grid-column:3;
    grid-row:1;
    width:42.24%;
    height:348.94px;
    left:23%;
    border-radius: 7.44986px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

  }
  .coins-panel {
    grid-column:4;
    grid-row:1;
    width:52.76%;
    height:348.94px;
    left:35.8%;
    border-radius: 6.71658px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }
  .grafik-panel {
    grid-column:2;
    grid-row:2;
    left: -2.2%;
    width:30.45%;
    height:312.8px;
    top:42.8%;
    box-shadow: 0px 3.44681px 3.44681px rgba(0,0,0,0.25);
    border-radius: 12.9256px;
    
  }
  .analytics-panel{
    grid-column:3;
    grid-row:2;
    top:42.8%;
    width:48.11%;
    height:312.8px;
    left:-4.2%;
    border-radius: 5.61px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);

  }
  .futures-panel {
    grid-column:4;
    grid-row:2;
    width:92.3%;
    height:312.8px;
    left:-3.5%;
    top:42.8%;
    overflow: hidden;
    border-radius:4.38803px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    
  }
  .holdings-panel {
    grid-column:2/ span 4;
    grid-row:3;
    width:98.45%;
    height:333px;
    left:-2.3%;
    top: 80%;
    border-radius:7px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    position:absolute;
   
  }


  

  @media screen and (max-width: 1600px) {
    body{ font-size: 17px;
         
   }
   .grid-container{
    font-size: 16px;
    grid-auto-flow: column;
   }
  
  }

@media all and (max-width: 992px) { 
    .body {
      font-size: 15px;
    }
  }
  @media screen and (max-width: 600px) {
    body{ font-size: 14px;
   }}
